<div class="main-content" id="content">
  <section id="" class="hero-section inverted-section square-scene ready">
    <nav>
      <a class="paddle previous-paddle" href="#previous" data-direction="previous">
      </a>
      <a class="paddle next-paddle" href="#next" data-direction="next">
      </a>
    </nav>
    <div class="mask video-container">
      <div class="view">
        <a href="#" class="square-label">
          
          <h2>
            Square
          </h2>
        </a>
        <a href="#" class="register-label">
          
          <h2>
            Square Register
          </h2>
        </a>
        
        <div class="square-signup-form prominent_percent_without_only">
          <h1 class="home-headline">
            Start accepting credit cards today.
          </h1>
          <p class="instructions">
            Sign up and we’ll mail you a free Square Reader.
          </p>

          <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => {:class => "create-user signup-form classic-signup-form transparent-fade-label-inputs"}) do |f| %>
		  <%= f.error_notification %>
		  	<div class = " field email-field ">
		    	<%= f.input :email, :required => true,:label => false,label_html: { class: 'text'},input_html: { class: 'text' },:placeholder => "Email address", wrapper: false %>
		    </div>
		    <div class = " field password-field ">
		      <%= f.input :password, :required => true,:label => false,label_html: { class: 'text'},input_html: { class: 'text',:size => 30 },:placeholder => "Password" %>
		    </div>
		    <div class = "field password-confirmation-field ">
		      <%= f.input :password_confirmation, :required => true,:label => false,label_html: { class: 'text'},input_html: { class: 'text',:size => 30 },:placeholder => "Confirm password" %>
		    </div>
			<div class = "footer">
		    	<%= f.button :submit, "Get Free Card Reader",:class => "button primary-button track-event" %>
		    </div>
		<% end %>

          
         
          <div class="signup-upsell">
            <i class="divider">
            </i>
            <a href="#" class="block pricing-prop">
              
              <div class="pricing-amount">
                2.75%
              </div>
              <p class="home-arrow pricing-description">
                per swipe, no additional fees,
                <br>
                and next day deposits
                
              </p>
            </a>
            
            <i class="divider">
            </i>
            <p class="cards-accepted">
              <i class="cards-list-light">
                Visa, MasterCard, American Express, and Discover.
              </i>
              <i class="cards-list-dark">
              </i>
              <span class="works-with">
                Works with iOS and Android devices.
              </span>
            </p>
          </div>
        </div>
        <div class="cardcase-signup-form update">
          <h1>
            <img alt="Square Wallet" src="squareup_files/square-wallet-logotype.png">
          </h1>
          <h2 class="subhead">
            Pay with your name
          </h2>
          <a href="https://squareup.com/wallet/download">
            
            <img alt="App-store-gray" src="squareup_files/app-store-gray.png">
          </a>
          
        </div>
        <i style="background-image: url('/assets/scene-bg-square.jpg');" class="square-bg">
        </i>
        <i style="background-image: url('/assets/scene-bg-register.jpg');" class="register-bg">
        </i>
        <i style="background-image: url('assets/scene-bg-cards.jpg');" class="card-case-bg">
        </i>
        <i style="background-image: url('/assets/scene-fg-square-amex.png');" class="square-fg">
        </i>
        <i style="background-image: url('/assets/scene-fg-register.png');" class="register-fg">
        </i>
        <i style="background-image: url('/assets/scene-fg-cards.png');" class="cardcase-fg update">
        </i>
        <i class="glass">
        </i>
      </div>
    </div>
          
  </section>
  
  
  <section class="announcement announcement-stand">
    <div class="content">
      <h5>
        The register reinvented
      </h5>
      <p>
        Now available: Upgrade your register with Square Stand and the hardware accessories you need. 
        <a href="https://squareup.com/stand" class="right-arrow">
          Learn more
        </a>
      </p>
    </div>
  </section>
  
</div>



